# Ignora a pasta de dependências do Node.js
node_modules/

# Ignora arquivos de log
*.log
npm-debug.log*

# Ignora arquivos de configuração de ambiente
.env
.env.local

# Ignora arquivos de sistema operacional e de editores de código
.DS_Store    # macOS
Thumbs.db    # Windows
.vscode/     # VS Code
.idea/       # Intellij IDEA

# Ignora diretórios de build/compilação
build/
dist/